.sch_box-shadow {
  background-color: rgb(236, 234, 234);
  /* width: 1200px; */
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sch_box {
  background-color: rgb(255, 255, 255);
  width: 99%;
  height: 98%;
  /* box-shadow: 0 0 7px 1px; */
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.sch_headbox {
  display: flex;
  justify-content: end;
  align-items: center;
}

.sch_like {
  cursor: pointer;
}

.sch_hourbox {
  display: flex;
  align-items: flex-end;
}

.sch_eachhour {
  height: 70%;
  width: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4D4D4D;
}

.sch_body {
  display: grid;
  grid-template-columns: 1fr 9fr;
  /* position: relative; */
}

.sch_daybox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D4D4D;
  color: white;
}

.sch_barbox {
  display: flex;
  /* background-color: rgb(207, 214, 207); */
}

/* const colors = ['#3ae8b0','#19afd0','#6967ce','#ffb900','#fd636b','#8ad879','#a5e1e9','#d5edb9','#c4bdf3','#fce8a5','#ffc296','#f8cadc'] */
/* const colors = [
    '#853AC9',
    '#F27B76',
    '#FFEE3F',
    '#F2993D',
    '#80ED82',
    '#0078FF',
    '#5CE0F8',
    '#F32B4F',
    '#00AD23',
    '#D9B282',
    '#73461F',
    '#CF64FF',
  ]; */
.sch_barbox-act1 {
  height: 100%;
  width: 7.5%;
  background-color: #853AC9;
}
.sch_barbox-act2 {
  height: 100%;
  width: 7.5%;
  background-color: #F27B76;
}
.sch_barbox-act3 {
  height: 100%;
  width: 7.5%;
  background-color: #FFEE3F;
}
.sch_barbox-act4 {
  height: 100%;
  width: 7.5%;
  background-color: #F2993D;
}
.sch_barbox-act5 {
  height: 100%;
  width: 7.5%;
  background-color: #80ED82;
}
.sch_barbox-act6 {
  height: 100%;
  width: 7.5%;
  background-color: #0078FF;
}
.sch_barbox-act7 {
  height: 100%;
  width: 7.5%;
  background-color: #5CE0F8;
}
.sch_barbox-act8 {
  height: 100%;
  width: 7.5%;
  background-color: #F32B4F;
}
.sch_barbox-act9 {
  height: 100%;
  width: 7.5%;
  background-color: #00AD23;
}
.sch_barbox-act10 {
  height: 100%;
  width: 7.5%;
  background-color: #D9B282;
}
.sch_barbox-act11 {
  height: 100%;
  width: 7.5%;
  background-color: #73461F;
}
.sch_barbox-act0 {
  height: 100%;
  width: 7.5%;
  background-color: #CF64FF;
}

.sch_barbox-nact {
  height: 100%;
  width: 7.5%;
  background-color: #E6E6E6;
}

.sch_tailbox {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sch_each-detail {
  font-size: 10px;
  display: flex;
}
