:root{
    --sch_color_act : #45B99B;
}

.sch_box-shadow{
    background-color: rgb(236, 234, 234);
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sch_box{
    background-color: rgb(255, 255, 255);
    width: 99%;
    height: 98%;
    /* box-shadow: 0 0 7px 1px; */
    border-radius: 15px;
    display:grid;
    grid-template-rows: repeat(8,1fr);
}

.sch_headbox{
    display: flex;
    justify-content: end;
    align-items: center;
}

.sch_like{
    cursor: pointer;
}

.sch_hourbox{
    display: flex;
    align-items: flex-end;
}

.sch_eachhour{
    height: 70%;
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 217, 217);
    background-color: rgb(95, 95, 95);
}

.sch_body{
    display: grid;
    grid-template-columns: 1fr 9fr;
    /* position: relative; */
}

.sch_daybox{
    display: flex;
    align-items: center;
    justify-content: center;

}

.sch_barbox{
    display: flex;
    /* background-color: rgb(207, 214, 207); */
}
.sch_barbox-act{
    height: 100%;
    width: 7.5%;
    background-color: var(--sch_color_act);
}
.sch_barbox-nact{
    height: 100%;
    width: 7.5%;
    background-color: rgb(255, 255, 255);
}

.sch_tailbox{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sch_each-detail{
    font-size: 10px;
    display: flex;
}
