* {
  margin: 0;
  padding: 0;
}
/* like & dislike */
.review_button {
  display: flex;
  flex-direction: column;
}
.review_button button {
  display: flex;
  border-radius: 20px;
  width: fit-content;
  width: 70px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.btn-like {
  background-color: white;
  color: black;
  border: 2px solid #9a9a9a;
  font-size: 18px;
}
.img_btn {
  width: 18px;
  margin-right: 10px;
}
.active_like {
  background-color: #0583f2;
  color: white;
  border: 2px solid #0583f2;
  font-size: 18px;
}
.active_like img {
  filter: brightness(0) invert(1);
}
.btn-like:hover {
  background-color: #cdcdcd;
}

/* review box */
.review__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.review__type {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 50px 40px;
}
.review__grid--column {
  display: grid;
  grid-template-columns: 30% 22% 33% 15%;
}
.review__sub {
  display: flex;
  flex-direction: column;
}
.review__sub .sub_name {
  font-size: 20px;
  max-width: 300px;
  font-weight: bold;
}

.review__sub .sub_num {
  max-width: 300px;
  font-size: 18px;
  color: #a3adb4;
  font-weight: bold;
}
.review_reviewer {
  display: flex;
  margin-right: 35px;
}
.review__img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.r_name {
  font-size: 20px;
  font-weight: bold;
}

.r_date {
  font-size: 18px;
  font-weight: bold;
  color: #a3adb4;
}
.review__star img {
  width: 80px;
}
.review__text {
  overflow: auto;
  font-size: 16px;
}
::-webkit-scrollbar{
  width: 8px;
  background-color: #efefef;
}
::-webkit-scrollbar-thumb{
  background-color: #adadad;
  border-radius: 40px;
}
.review__like {
  display: flex;
  justify-content: center;
}
.main {
  background-color: #e9ecf4;
}
